@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-temp: 150ms 
}

:root[data-theme="dark"] {
  --primary-rgb: 49 49 49;
  --secondary-rgb: 65 65 65;
  --tertiary-rgb: 72 72 72;
  /* --contrast-rgb: 147 82 115; */
  --contrast-rgb: 99 89 133;

  --msgarea-rgb: 82 82 82;

  --green-rgb: 34 197 94;

  /* PRIMEIRA OPÇÃO */
  /*--primary-rgb: 57 54 70;
  --secondary-rgb: 79 69 87;
  --tertiary-rgb: 71 59 82; */

  --text-rgb: 255 255 255;
  --border-rgb: var(--primary-rgb)/50%;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  padding: 3rem 6rem;
  height: 100vh;
  color: rgb(var(--text-rgb));
  background: rgb(var(--primary-rgb))/* linear-gradient(
      to top,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    ) */;
}

main {
  display: flex;
  flex: auto;
  max-width: 1248px;
  background: rgb(var(--secondary-rgb));
  border-radius: 1rem;
}

@keyframes fadeToTop {
  from {
    opacity: 0;
    transform: translateY(1rem);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeToBottom {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .625rem 1rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: .25rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 2px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: .5rem;
  }
  
  strong {
    z-index: 2;
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  .glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  } */